<launch>

	<include file="$(find cnbiros_wheelchair)/launch/ros_wheelchair_ultrasonics.launch" />
	
	<node pkg="robot_state_publisher" type="robot_state_publisher" name="rob_state_publisher" />
	<param name="robot_description" textfile="$(find cnbiros_wheelchair)/model/wheelchair.urdf" />

</launch>
