<?xml version="1.0"?>
<launch>
	<arg name="ultrasonics_params" default="$(find cnbiros_wheelchair)/params/ros_wheelchair_ultrasonics_to_pointcloud.yaml"/>

<!-- *************************** Parameters ******************************** -->
	<arg name="worldname" default="empty.world" />

<!-- *************************** Gazebo *********************************** -->
	<include file="$(find cnbiros_wheelchair_gazebo)/launch/ros_wheelchair_gazebo.launch" >
		<arg name="world" value="$(arg worldname)" />
	</include>

	<!-- *********** UltraSonic filters ***************** -->	
	<node pkg="cnbiros_filters" type="multi_range_to_range_filter_chain" output="screen" name="sonars_filters">
		<rosparam command="load" file="$(find cnbiros_wheelchair)/launch/ros_wheelchair_ultrasonics_filters.yaml" />
	</node>

	<!-- *********** UltraSonic to pointcloud ***************** -->	
	<node pkg="cnbiros_wheelchair" type="ros_wheelchair_ultrasonics_to_pointcloud" output="screen" name="ros_wheelchair_ultrasonics_to_pointcloud" >
		<rosparam subst_value="True" file="$(arg ultrasonics_params)" command="load" />
	</node>


<!-- ************************ Transformations ****************************** -->
	<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />
	<node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" />
	<node pkg="tf" type="static_transform_publisher" name="base_footprint_broadcaster" args="0 0 0 0 0 0 base_footprint base_link 100" />

<!-- ************************ Model ****************************** -->
	<include file="$(find cnbiros_wheelchair_description)/launch/ros_wheelchair_description.launch" />

<!-- ************************** Visualization ****************************** -->
<!--
	<include file="$(find cnbiros_wheelchair_description)/launch/ros_wheelchair_rviz.launch">
		<arg name="config" value="wheelchair_simulation_gazebo.rviz" />
	</include>
	-->

</launch>
