<launch>

	<!-- *********** UltraSonic sensors ***************** -->	
	<node name="SonarRight" pkg="cnbiros_wheelchair" type="ros_wheelchair_ultrasonics" output="screen">
		<rosparam command="load" file="$(find cnbiros_wheelchair)/launch/ros_wheelchair_ultrasonics_right.yaml"/>
	</node>	
	<node name="SonarsLeft" pkg="cnbiros_wheelchair" type="ros_wheelchair_ultrasonics" output="screen">
		<rosparam command="load" file="$(find cnbiros_wheelchair)/launch/ros_wheelchair_ultrasonics_left.yaml"/>
	</node>	
</launch>
