<?xml version="1.0"?>
<launch>
	<arg name="port" default="/dev/sonars.left" />
	<arg name="maxrange" default=0.35 />
	<node name="sonars" pkg="cnbiros_wheelchair" type="ros_wheelchair_ultrasonics" output="screen" respawn="true" respawn_delay="10">
		<param name="port" value="$(arg port)" />
		<param name="maxrange" value="$(arg maxrange)" />
	</node>
</launch>
